DATABASE_URL="postgresql://neondb_owner:<password>@ep-green-smoke-azxflpcp-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
PAYMENT_PROVIDER="mock"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
